/* Dropdown menu with hover effect */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    border-radius: 8px;
}
/* Text colour of home item */
.home_item {
    color: white !important;
}
.nav-item.dropdown:hover > a {
    color: black !important;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #e0e0e0 !important;
}
/* Navbar image */
.navbar-brand img {
    border-radius: 10px;
}
/* Stylings of the body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}
/* Image layout */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 700px;
    margin: 40px auto;
    justify-items: center;
}
/* Puts image in center */
.image-center {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 500px;
}
/* Turns image into a small one */
.small-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Phone view CSS */
@media (max-width: 768px) {

    .text-image {
        flex-direction: column;
        gap: 10px;
    }

    .text-block {
        width: 100%;
        max-width: 100%;
    }

    .side-img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .image-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .dropdown-section {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}