.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    border-radius: 8px;
}
.home_item {
    color: white !important;
}
.nav-item.dropdown:hover > a {
    color: black !important;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #e0e0e0 !important;
}
.navbar-brand img {
    border-radius: 10px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 700px;
    margin: 40px auto;
    justify-items: center;
}
.image-center {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 500px;
}
.small-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.dropdown-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dropdown-box {
    width: 250px;
    border: 2px solid #000;
    padding: 10px;
}
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.text-image {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
}
.text-block {
    width: 40%;
}
.side-img {
    flex: 1;
    max-width: 33%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
@media (max-width: 768px) {

    .text-image {
        flex-direction: column;
        gap: 10px;
    }

    .text-block {
        width: 100%;
        max-width: 100%;
    }

    .side-img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .image-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .dropdown-section {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}
